.look a {
	text-decoration: none;
	color: #72c02c
}
.facebook a {
    text-decoration: none;
    color: #72c02c;
}

.myform-content {
    background-color: #dedede;
    height: 735px;
}
.header-form {
    height: 50px;
    background-color: #575b66;
    margin: 0;
}
.myform {
	margin: 50px auto;
	padding: 0 30px;
    width: 600px;
    height: 565px;
    background-color: #fefefe;
    border-color: #ccc;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
}
form h1 {
	padding: 25px 0;
	font-size: 30px;
	color: #6f5555;
	text-align: center;
}
form h2 {
	font-size: 30px;
	text-align: left;
	color: #fff;
	text-align: center;
	display: table;
	background-color: #72c02c;
	padding: 3px
}
form h4{
	margin-top: 30px;
	color: #555;
    text-shadow: none;
    font-weight: 400;
    margin-bottom: 10px
}
form > a {
	display: flex; 
    justify-content: center;
}
hr:nth-child(1) {
	width: 523px;
	color:#e2e2e2;
}
form hr:nth-child(2) {
	margin-top: 0px;
    border-top-width: 2px;
}
.look {
	color: #555;
	font-size: 12px;
	text-align: center;
	line-height: 140%
}

.logo-facebook {
	height: 45px;
	margin: 30px 0 12px;
	text-align: center;
}
.myinputs {
	padding: 10px 0
}
.myinputs input:nth-child(1) {
	width: 250px;
    height: 26px;
    border-width: 2px;
    padding: 6px 12px;
    margin-right: 18px;
    margin-bottom: 10px;
}
.myinputs input:nth-child(2) {
	width: 250px;
    height: 26px;
    border-width: 2px;
    padding: 6px 12px;
}
.myinputs input:nth-child(3) {
	width: 250px;
    height: 26px;
    border-width: 2px;
    padding: 6px 12px;
    margin-right: 18px;
    margin-bottom: 10px;
}
.myinputs input:nth-child(4) {
	width: 250px;
    height: 26px;
    border-width: 2px;
    padding: 6px 12px;
}
.myinputs input:nth-child(5) {
	width: 250px;
    height: 26px;
    border-width: 2px;
    padding: 6px 12px;
    margin-right: 18px;
    margin-bottom: 10px;
}
.myinputs input:nth-child(6) {
	width: 250px;
    height: 26px;
    border-width: 2px;
    padding: 6px 12px;
}
.myinputs input:nth-child(7) {
	background-color: #82c839;
    border-width: 0px;
    padding: 3px;
    color: white;
    font-size: 18px;
    border-color: #82c839;
    height: 36px;
    cursor: pointer;
    margin-bottom: 30px
}
.myfacebook {
    text-align: center
}