.aa-header {
  display: flex;
  justify-content: space-between ;
  align-items: center;
  height: 150px;
}
.header-right-top {
  display: flex;
  justify-content: flex-end;
  height: 45px;
}

.header-list .user {
  width: 110px;
    height: 30px;
    border-width: 2px;
    padding: 6px 12px;
    margin-right: 18px;
    margin-bottom: 10px;
}
.img-facebook {
  width: 20px;
}
.img-twitter {
  width: 20px;
}
.list-facebook a {
  padding-right: 0;
}
.list-twitter a {
  padding-left: 0;
}
.header-lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  display: flex;
}
.header-list .username,.connect {
  margin-top: 15px
}
.header-list a span {
font-size:25px
}
.header-list a {
  display: block;
  color: #687074;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.header-lists .header-list a .img-facebook{
  padding-right: 4px !important;
}
.header-list {
  display: flex;
}
.header-list a:hover {
  border-bottom: solid 1px #72c02c;
  color : #72c02c;
}
.login {
  padding-right: 5px;
}
.login > a:hover {
  text-decoration: none !important ;

}