.ground-body {
    display: flex;
    justify-content: center;
    background-color: hsla(136, 15%, 24%, 0.952)
}
.header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header .myinput input:nth-child(1) {
  width: 200px;
  height: 36px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.header .myinput input:nth-child(2) {
  height: 37px;
  cursor: pointer;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: lightgrey;
}
.stars-container {
  display: flex;
  justify-content: flex-end;
  top: 0;
  right: 0;
  position: absolute;
  background-color: gray;
}
.mystarts {
  color: yellow;
  font-size: 20px;
  cursor: pointer;
}
.mystarts:hover {
  color: yellow;
  font-size: 30px;
  cursor: pointer;
}
.mymovies {
  width: 828px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.movie-card {
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px;
  position: relative;
  cursor: pointer;
}
.movie-card:hover {
  box-shadow: 2px 4px 2px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.like {
  position: absolute;
  top: 20px;
  right: 0;
}
.title {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: bold;
}
.movie {
  height: 300px;
  width: 300px;
}
.img {
  height: 100%;
  width: 100%;
}
.btn-danger {
  width: 255px;
  height: 300px;
  margin: 0 10px;
}
.add button i {
  font-size: 50px;
}
.add {
  display: flex
}

.parent{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background:black;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}
